* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:Georgia, 'Times New Roman', Times, serif;
    transition: 0.5s;
    color: white;
}

#huvud_body {
    background: black;
}
.main_card{
    width: 600px;
    height: 500px;
    display: flex;
    gap: 15px;
}

.div_card {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.div_card::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    filter: brightness(0.25);
    z-index: -1;
}

.card {
    width: 34%;
    border-radius: 15px;
    cursor: pointer;
    overflow: hidden;
}

.card:hover {
    width: 100%;
}

.card .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card .background {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    pointer-events: none;
    filter: brightness(0.25);
    background: linear-gradient(to top, rgba(0, 0, 0, 0.9), transparent);
    opacity: 0;
}

.card:hover .background {
    opacity: 1;
}


.card .layer {
    width: 100%;
    height: 50%;
    margin-top: -250px;
    position: relative;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.9), transparent);
}

.card .layer .info {
    width: 260px;
    position: absolute;
    bottom: 10px;
    padding: 20px;
    opacity: 0;
}

.card:hover .layer .info {
    opacity: 1;
}

.info p {
    color: rgba(255,255,255,0.75);
    margin-top: 5px;
}

#gridwrapper_huvud {
    box-sizing: border-box;
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "se1 se2"
    "foo foo"
    ;
}

#section1 {
    background-color: black;
    grid-area: se1;
}

h2 {
    font-size: 34px;
    position: relative;
    margin-top: 300px;
    margin-left: 300px;
    margin-bottom: 30px;
}

.om_oss {
    font-size: 20px;
    line-height: 40px;
    position: relative;
    margin-left: 100px;
}

#section2 {
    grid-area: se2;
}

.logga {
    height: 300px;
    width: auto;
    position: relative;
    margin-top: 600px;
    margin-left: 150px;

}

footer {
    background-color: black;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    grid-area: foo;
    position: relative;
    margin-top: 200px;
    margin-bottom: 200px;
}

.contact-info,
.social-media {
    text-align: center;
    position: relative;
    margin-bottom: 200px;
}

h3 {
    position: relative;
    margin-bottom: 20px;
}
#nav_huvud {
    display: none;
}

#section_img1 {
    display: none;
}

#section_img2 {
    display: none;
}

#section_img3 {
    display: none;
}

@media screen and (max-width: 800px) {

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;

        --burgerline_width: 30px;
        --burgerline_height: 6px;
        --burgerline_margin: 5px;
    
        --background_color: solid black;
    }
    .main_card{
        display: none;
    }
    .div_card {
        display: none;
    }
    
    .info p {
        display: none;
    }


    
    #nav_huvud {
        height: 100px;
        /* width: 100%; */
        background: black;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        font-family: 'Courier New', Courier, monospace;
        border-bottom: 2px solid white;
        position: sticky;
        top: 0;
        grid-area: nav;
    }

    nav {
        background: solid black;
        z-index: 2;
    }
    
    
    .links_visible {
        transform: translateY(900px);
    }
    
    .burger_line {
        width: var(--burgerline_width);
        height: var(--burgerline_height);
        margin: var(--burgerline_margin);
        background: white;
        border-radius: 20%;
        transition: 0.5s;
    }
    
    #link_list {
        display: flex;
        flex-direction: column;
        height: 400px;
        position: absolute;
        top: -800px;
        align-items: center;
        justify-content: space-around;
        list-style: none;
        z-index: 1;
        border: 1px solid white;
        background-color: black;
        transition: 1s;
    }
    
    #burger {
        margin-right: 80px;
        cursor: pointer;
    }
    
    #link_list a {
        text-decoration: none;
        font-weight: bold;
        font-size: 1.25rem;
        letter-spacing: 0.1875rem;
        text-transform: uppercase;
        width: 200px;
        height: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: black;
    }
    
    #link_list a:hover {
        background: white;
        color: black;
    }
    
    .burger_in_x_form #burger_line_2 {
        opacity: 0;
    }
    
    .burger_in_x_form #burger_line_1 {
        transform: translateY(calc(var(--burgerline_height) + var(--burgerline_margin))) rotate(45deg);
    }
    
    .burger_in_x_form #burger_line_3 {
        transform: translateY(calc((-1)*(var(--burgerline_height) + var(--burgerline_margin)))) rotate(-45deg);
    }

    #gridwrapper_huvud {
        box-sizing: border-box;
        display: grid;
        height: auto;
        grid-template-columns: 1fr;
        grid-template-rows: 50px 1fr 500px 100px;
        grid-template-areas:
        "nav"
        "se1"
        "se2"
        "foo"
        ;
    }

    #section1 {
        z-index: -2;
    }

    .logga {
        height: 300px;
        width: auto;
        position: relative;
        margin-top: 50px;
        margin-left: 40px;
    }

    h2 {
        font-size: 34px;
        position: relative;
        margin-top: 0px;
        margin-left: 130px;
        margin-right: 0px;
        margin-bottom: 30px;
    }
    
    .om_oss {
        font-size: 20px;
        line-height: 40px;
        position: relative;
        margin-left: 20px;
        margin-right: 20px;
        z-index: -2;
    }
    
    #section2 {
        grid-area: se2;
    }
    
    footer {
        background-color: black;
        padding: 20px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        grid-area: foo;
        position: relative;
        margin-top: 0px;
        margin-bottom: 20px;
    }
    
    .contact-info,
    .social-media {
        text-align: center;
        position: relative;
        margin-bottom: 100px;
    }
    
    h3 {
        position: relative;
        margin-bottom: 20px;
    }

    #section_img1 {
        grid-area: im1;
        display: flex;
        height: 200px;
        width: auto;
        
    }

    #section_img2 {
        grid-area: im2;
        display: flex;
        height: 300px;
        width: auto;
    }

    #section_img3 {
        grid-area: im3;
        display: flex;
        height: 300px;
        width: auto;
        position: relative;
        margin-bottom: 3000px;
    }

    p {
        padding: 20px;
    }
}

#JWST_body {
    background-color: black;
}

#JWST_gridwrapper {
    box-sizing: border-box;
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "nav nav"
    "hea hea"
    "se1 se2"
    "se4 se3"
    "se5 se6"
    "foo foo"
    ;
}

#JWST_header {
    grid-area: hea;
    display: flex;
    justify-content: center;
    align-items: center;
}

#JWST_nav{
    grid-area: nav;
    display: flex;
    justify-content: center;
    align-items: center;

}

#JWST_linklist{
    display:flex;
    justify-content: space-evenly;
    width: 100%;
    list-style: none;
    text-decoration: none;
    padding-top: 25px;
    padding-bottom: 25px;
}

#link {
    list-style: none;
    text-decoration: none;
}

#JWST_section1 {
    grid-area: se1;
    display: flex;
    align-items: center;
    justify-content: center;
}

#JWST_section2 {
    grid-area: se2;
    display: flex;
    align-items: center;
    justify-content: center;
}

#JWST_section3 {
    grid-area: se3;
    display: flex;
    align-items: center;
    justify-content: center;
}

#JWST_section4 {
    grid-area: se4;
    display: flex;
    align-items: center;
    justify-content: center;
}

#JWST_section5 {
    grid-area: se5;
    display: flex;
    align-items: center;
    justify-content: center;
}

#JWST_section6 {
    grid-area: se6;
    display: flex;
    align-items: center;
    justify-content: center;
}

#JWST_img {
    width: 500px;
    height: auto;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#JWST_p1 {
    position: relative;
    margin-right: 120px;
}