#section_img1 {
    grid-area: im1;
    display: flex;
    height: 200px;
    width: auto;
    
}

#section_img2 {
    grid-area: im2;
    display: flex;
    height: 300px;
    width: auto;
}

#section_img3 {
    grid-area: im3;
    display: flex;
    height: 300px;
    width: auto;
    position: relative;
    margin-bottom: 3000px;
}


#Pictures_body {
    background-color: black;
}

#Pictures_gridwrapper {
    box-sizing: border-box;
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    row-gap: 40px;
    grid-template-areas:
    "nav nav"
    "hea hea"
    "se1 se2"
    "se4 se3"
    "se5 se6"
    "foo foo"
    ;
}

#Pictures_header {
    grid-area: hea;
    display: flex;
    justify-content: center;
    align-items: center;
}

#Pictures_nav{
    grid-area: nav;
    display: flex;
    justify-content: center;
    align-items: center;
}

#Pictures_linklist{
    display:flex;
    justify-content: space-evenly;
    width: 100%;
    list-style: none;
    text-decoration: none;
    padding-top: 25px;
    padding-bottom: 25px;
}

#Pictures_linklist :hover {
    text-decoration: underline;
}

#link {
    list-style: none;
    text-decoration: none;
}

#Pictures_section1 {
    grid-area: se1;
    display: flex;
    align-items: center;
    justify-content: center;
}

#Pictures_section2 {
    grid-area: se2;
    display: flex;
    align-items: center;
    justify-content: center;
}

#Pictures_section3 {
    grid-area: se3;
    display: flex;
    align-items: center;
    justify-content: center;
}

#Pictures_section4 {
    grid-area: se4;
    display: flex;
    align-items: center;
    justify-content: center;
}

#Pictures_section5 {
    grid-area: se5;
    display: flex;
    align-items: center;
    justify-content: center;
}

#Pictures_section6 {
    grid-area: se6;
    display: flex;
    align-items: center;
    justify-content: center;
}

#Pictures_img {
    width: 500px;
    height: auto;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#Pictures_p1 {
    position: relative;
    margin-right: 120px;
}

#Pictures_p2 {
    position: relative;
    margin-left: 120px;
}

#Pictures_p3 {
    position: relative;
    margin-right: 120px;
}